<!-- Header -->
<?php require_once(__DIR__ . "/../Header.html");?>

<div class="container">
	<div class="page-title">
		<h1>My Account</h1>
	</div>
	<div class="page-container">
		<div class="navbar-panel">
			<ul>
				<li><a href="<?=URL?>/myaccount/">Account Info</a></li>
				<li><a href="<?=URL?>/myaccount/changepassword">Change Password</a></li>
				<li><a href="<?=URL?>/myaccount/donationlog">Donation History</a></li>
				<li><a href="<?=URL?>/donate">Recharge</a></li>
				<li><a href="<?=URL?>/myaccount/logout">Logout</a></li>
			</ul>
		</div>
		<br>
		<h1 style="text-align: center; font-size: 30px; font-weight: bold;">Change Password</h1>
		<div class="info">
			<form method="post" id="form" url="<?=URL?>/myaccount/changepassword">
				<br>
				<input type="password" placeholder="Current Password" name="password" class="input-full">
				<input type="password" placeholder="New Password" name="new_password" class="input-full">
				<input type="password" placeholder="Confirm New Password" name="re_new_password" class="input-full">
                <?php if(RECAPTCHA_ENABLE): ?>
                <div class="google_robot" style="float: left; margin: 28px 0px 0px 340px;">
                    <script>
                        function reCapchaCallback()
                        {
                            $("#btn-submit").removeClass("disabled");
                        }
                    </script>
                    <div class="g-recaptcha" data-callback="reCapchaCallback" data-sitekey="<?=RECAPTCHA_SITEKEY?>" style="margin: 0px 0px 0px;"></div>
                </div>
                <?php endif; ?>
				<div class="clear"></div>
				<br><br>
				<div class="separator"></div>
				<br>
				<button class="btn-confirm"></button>
			</form>
		</div>
	</div>
</div>
<div class="clear"></div>

<!-- Footer -->
<?php require_once(__DIR__ . "/../Footer.html");?>