@font-face {
    font-family: 'source';
    src: url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Regular.woff') format('woff'),
        url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'faktos';
    src: url('../fonts/Faktos.woff2') format('woff2'),
        url('../fonts/Faktos.woff') format('woff'),
        url('../fonts/Faktos.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

body {
	padding: 0px;
	margin: 0px;
	background: url('../images/background.jpg') no-repeat top center;
	overflow-x: hidden;
	flex: 1 0 auto;
    color: #000;
    border-color: #d7d7d7;
}
.container {
	width: 1185px;
	margin: auto;
}
.clear {
	clear: both;
}
.disabled{
	opacity: 0.4;
    pointer-events: none;
}
.leaves-1 {
    background: url('../images/leaves/leave_1.png') no-repeat;
    width: 46px;
    height: 48px;
    position: absolute;
    left: 120px;
    top: -150px;
    animation: leaves-1 12s infinite linear;
  }
  @keyframes leaves-1 {
    0% {
      top: -150px;
    }
    90% {opacity: 1;}
    100% {
      top: 320px;
      transform: rotate(-200deg);
      opacity: 0;
    }
  }
.leaves-2 {
    background: url('../images/leaves/leave_2.png') no-repeat;
    width: 37px;
    height: 29px;
    position: absolute;
    left: 410px;
    top: -150px;
    animation: leaves-2 12s infinite linear;
  }
  @keyframes leaves-2 {
    0% {
      top: -150px;
    }
    90% {opacity: 1;}
    100% {
      top: 250px;
      transform: rotate(-200deg);
      opacity: 0;
    }
  }
.leaves-3 {
    background: url('../images/leaves/leave_3.png') no-repeat;
    width: 49px;
    height: 54px;
    position: absolute;
    left: 675px;
    top: -150px;
    animation: leaves-3 12s infinite linear;
  }
  @keyframes leaves-3 {
    0% {
      top: -150px;
    }
    90% {opacity: 1;}
    100% {
      top: 300px;
      transform: rotate(-200deg);
      opacity: 0;
    }
  }
.leaves-4 {
    background: url('../images/leaves/leave_4.png') no-repeat;
    width: 46px;
    height: 48px;
    position: absolute;
    left: 630px;
    top: -150px;
    animation: leaves-4 12s infinite linear;
  }
  @keyframes leaves-4 {
    0% {
      top: -150px;
    }
    90% {opacity: 1;}
    100% {
      top: 730px;
      transform: rotate(-200deg);
      opacity: 0;
    }
  }
.leaves-5 {
    background: url('../images/leaves/leave_5.png') no-repeat;
    width: 37px;
    height: 29px;
    position: absolute;
    left: 910px;
    top: -150px;
    animation: leaves-5 12s infinite linear;
  }
  @keyframes leaves-5 {
    0% {
      top: -150px;
    }
    90% {opacity: 1;}
    100% {
      top: 590px;
      transform: rotate(-200deg);
      opacity: 0;
    }
  }
.leaves-6 {
    background: url('../images/leaves/leave_6.png') no-repeat;
    width: 63px;
    height: 74px;
    position: absolute;
    left: 1180px;
    top: -150px;
    animation: leaves-6 12s infinite linear;
  }
  @keyframes leaves-6 {
    0% {
      top: -150px;
    }
    90% {opacity: 1;}
    100% {
      top: 700px;
      transform: rotate(-200deg);
      opacity: 0;
    }
  } 
.leaves-7 {
    background: url('../images/leaves/leave_7.png') no-repeat;
    width: 107px;
    height: 139px;
    position: absolute;
    left: 1220px;
    top: -250px;
    animation: leaves-7 12s infinite linear;
  }
  @keyframes leaves-7 {
    0% {
      top: -250px;
    }
    90% {opacity: 1;}
    100% {
      top: 420px;
      transform: rotate(-200deg);
      opacity: 0;
    }
  }
.leaves-8 {
    background: url('../images/leaves/leave_8.png') no-repeat;
    width: 54px;
    height: 51px;
    position: absolute;
    left: 1480px;
    top: -150px;
    animation: leaves-8 12s infinite linear;
  }
  @keyframes leaves-8 {
    0% {
      top: -150px;
    }
    90% {opacity: 1;}
    100% {
      top: 250px;
      transform: rotate(-200deg);
      opacity: 0;
    }
  }
.leaves-9 {
    background: url('../images/leaves/leave_9.png') no-repeat;
    width: 54px;
    height: 51px;
    position: absolute;
    left: 80px;
    top: 1720px;
    animation: leaves-9 12s infinite linear;
  }
  @keyframes leaves-9 {
    0% {
      top: 1720px;
    }
    90% {opacity: 1;}
    100% {
      top: 2000px;
      transform: rotate(-200deg);
      opacity: 0;
    }
  }
.leaves-10 {
    background: url('../images/leaves/leave_10.png') no-repeat;
    width: 63px;
    height: 74px;
    position: absolute;
    left: 320px;
    top: 1720px;
    animation: leaves-10 12s infinite linear;
  }
  @keyframes leaves-10 {
    0% {
      top: 1720px;
    }
    90% {opacity: 1;}
    100% {
      top: 2400px;
      transform: rotate(-200deg);
      opacity: 0;
    }
  }
.leaves-11 {
    background: url('../images/leaves/leave_11.png') no-repeat;
    width: 50px;
    height: 72px;
    position: absolute;
    left: 450px;
    top: 1720px;
    animation: leaves-11 12s infinite linear;
  }
  @keyframes leaves-11 {
    0% {
      top: 1720px;
    }
    90% {opacity: 1;}
    100% {
      top: 1900px;
      transform: rotate(-200deg);
      opacity: 0;
    }
  } 
.leaves-12 {
    background: url('../images/leaves/leave_12.png') no-repeat;
    width: 37px;
    height: 28px;
    position: absolute;
    left: 660px;
    top: 1720px;
    animation: leaves-12 12s infinite linear;
  }
  @keyframes leaves-12 {
    0% {
      top: 1720px;
    }
    90% {opacity: 1;}
    100% {
      top: 2330px;
      transform: rotate(-200deg);
      opacity: 0;
    }
  }
.leaves-13 {
    background: url('../images/leaves/leave_13.png') no-repeat;
    width: 46px;
    height: 48px;
    position: absolute;
    left: 880px;
    top: 1720px;
    animation: leaves-13 12s infinite linear;
  }
  @keyframes leaves-13 {
    0% {
      top: 1720px;
    }
    90% {opacity: 1;}
    100% {
      top: 2440px;
      transform: rotate(-200deg);
      opacity: 0;
    }
  }
.leaves-14 {
    background: url('../images/leaves/leave_14.png') no-repeat;
    width: 37px;
    height: 28px;
    position: absolute;
    left: 1110px;
    top: 1720px;
    animation: leaves-14 12s infinite linear;
  }
  @keyframes leaves-14 {
    0% {
      top: 1720px;
    }
    90% {opacity: 1;}
    100% {
      top: 1850px;
      transform: rotate(-200deg);
      opacity: 0;
    }
  }
.leaves-15 {
    background: url('../images/leaves/leave_15.png') no-repeat;
    width: 49px;
    height: 54px;
    position: absolute;
    left: 1090px;
    top: 1720px;
    animation: leaves-15 12s infinite linear;
  }
  @keyframes leaves-15 {
    0% {
      top: 1720px;
    }
    90% {opacity: 1;}
    100% {
      top: 2290px;
      transform: rotate(-200deg);
      opacity: 0;
    }
  } 
.leaves-16 {
    background: url('../images/leaves/leave_16.png') no-repeat;
    width: 55px;
    height: 81px;
    position: absolute;
    left: 1320px;
    top: 1720px;
    animation: leaves-16 12s infinite linear;
  }
  @keyframes leaves-16 {
    0% {
      top: 1720px;
    }
    90% {opacity: 1;}
    100% {
      top: 1940px;
      transform: rotate(-200deg);
      opacity: 0;
    }
  } 
.leaves-17{
    background: url('../images/leaves/leave_17.png') no-repeat;
    width: 107px;
    height: 137px;
    position: absolute;
    left: 1310px;
    top: 1720px;
    animation: leaves-17 12s infinite linear;
  }
  @keyframes leaves-17 {
    0% {
      top: 1720px;
    }
    90% {opacity: 1;}
    100% {
      top: 2480px;
      transform: rotate(-200deg);
      opacity: 0;
    }
  }
.leaves-18{
    background: url('../images/leaves/leave_18.png') no-repeat;
    width: 49px;
    height: 52px;
    position: absolute;
    left: 1730px;
    top: 1720px;
    animation: leaves-18 12s infinite linear;
  }
  @keyframes leaves-18 {
    0% {
      top: 1720px;
    }
    90% {opacity: 1;}
    100% {
      top: 1990px;
      transform: rotate(-200deg);
      opacity: 0;
    }
  } 
.online {
	color: #69b835;
}	
.navbar {
	background: url('../images/navbar.png') repeat-x;
	position: relative;
	z-index: 0;
	height: 132px;
}
.navbar .logo_icon {
	background: url('../images/logo_icon.png') no-repeat;
	width: 48px;
	height: 44px;
	float: left;
	margin: 25px 0px 0px 10px;
}	
.navbar ul {
	float: left;
	list-style: none;
	margin: 0px 0px 0px 55px;
	padding: 0px;
}
.navbar ul li {
	float: left;
	color: #fff;
	font-family: source;
	font-size: 18px;
	margin: 0px 0px 0px -10px;
}
.navbar ul li a {
	color: #fff;
	text-decoration: none;
	line-height: 92px;
	padding: 0px 70px;
	display: block;
}
.navbar ul li a .arrow {
	background: url('../images/arrow.png') no-repeat;
	width: 8px;
	height: 5px;
	position: relative;
	float: right;
	margin: 43px 0px 0px 0px;
	left: 10px;
}
.navbar ul li a .arrow2 {
  background: url('../images/arrow.png') no-repeat;
  width: 8px;
  height: 5px;
  position: relative;
  float: right;
  margin: 43px 0px 0px 0px;
  left: 10px;
}
.navbar ul li a:hover {
	color: #ffe9a6;
}
.navbar ul li a.active {
	color: #ffe9a6;
	font-weight: 700;
}
.navbar ul li .dp {
	background: url('../images/navbar_drop.png') repeat-x;
}

.navbar ul li ul {
    display: none;
    position: absolute;
    width: 180px;
    background: url(../images/navbar_drop.png) repeat-x;
    margin: 74px 0px 0px 155px;
    border-top: 1px solid #48158a;
    border-radius: 0px 0px 5px 5px;
    z-index: -1;
}
.navbar ul li ul li {
	float: none;
	margin: 0px;
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
}
.navbar ul li ul li a {
	line-height: 50px;
	padding: 0px;
	color: #ffffff;
}

.navbar .icon-ds {
	background: url('../images/icons/ds.png') no-repeat;
	width: 43px;
	height: 41px;
	float: left;
	margin: 24px 0px 0px 35px;
}
.navbar .icon-ds a {
	display: block;
	height: 41px;
}

.navbar .icon-fb {
	background: url('../images/icons/fb.png') no-repeat;
	width: 43px;
	height: 41px;
	float: left;
	margin: 24px 0px 0px 15px;
}
.navbar .icon-fb a {
	display: block;
	height: 41px;
}

.bg-modal{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  position: fixed;
  z-index: 2;
  top: -200%;
  display: block;

}
.modal{
  width: 478px;
  height: 547px;
  background: url('../images/bg-modal.png') no-repeat;
  margin: 100px auto 0px auto;
}
.modal span{
 float: right;
 font-size: 50px;
 color: #ffffff;
 margin: 30px 10px;
 transition:350ms;
 cursor: pointer;
}
.modal span:hover{
 color: #990000;
 transition: 350ms;
}
.modal .pat
{
    position: relative;
    display: block;
    text-align: center;
    font-family: source;
    font-weight: bold;
    font-size: 30px;
    color: #746758;
    outline: none;
    top:85px;
    left: 20px;
  }
.modal .input-full
{
    width: 315px;
    line-height: 65px;
    background-color: #f8f8f9;
    border-radius: 10px;
    border: 1px solid #cad7f4;
    margin: 100px auto -85px;
    display: block;
    text-align: center;
    font-family: source;
    font-size: 16px;
    color: #1c2337;
    outline: none;
  }
.modal .input-full:hover{
    width: 315px;
    line-height: 65px;
    background-color: #f8f8f9;
    border-radius: 10px;
    border: 1px solid #5c85ff;
    margin: 100px auto -85px;
    display: block;
    text-align: center;
    font-family: source;
    font-size: 16px;
    color: #1c2337;
    outline: none;
  }
.modal .input-full:active{
    width: 315px;
    line-height: 65px;
    background-color: #f8f8f9;
    border-radius: 10px;
    border: 1px solid #5c85ff;
    margin: 100px auto -85px;
    display: block;
    text-align: center;
    font-family: source;
    font-size: 16px;
    color: #1c2337;
    outline: none;
  }
.modal .btn_enter{
  position:relative;
  background: url('../images/buttons/entrar.png') no-repeat;
  width: 231px;
  height: 120px;
  top: 90px;
  left: 120px;
  float: left;
  border: none;
}
.modal .btn_enter:hover{
  position:relative;
  background: url('../images/buttons/entrar-hover.png') no-repeat;
  width: 231px;
  height: 120px;
  top: 90px;
  left: 120px;
  float: left;
}
.modal .Text-1
{
    display: block;
    text-align: center;
    font-family: source;
    font-weight: bold;
    font-size: 16px;
    color: #746758;
    outline: none;
    text-decoration: none;
    margin: 210px auto -205px auto;
  }
.navbar .dropdown{
    width: 40px;
    margin: -74px;
    height: 101px;
    margin-left: 155px;
    display: block;
    font-family: source;
    color: #b997ff;
    background-color: #6c3bce;
}
.navbar .dropdown:hover{
    width: 40px;
    margin: -74px;
    height: 101px;
    margin-left: 155px;
    display: block;
    font-family: source;
    color: #b997ff;
    background-image: linear-gradient(#9565f0, #6c3bce);
}
.navbar .seta-baixo{
    background: url(../images/arrow2.png) no-repeat;
    width: 16px;
    height: 9px;
    margin: -33px -2px -6px 4px;
    margin-left: 63px;
}

.navbar .seta-baixo:hover{
    background: url(../images/arrow2.png) no-repeat;
    width: 16px;
    height: 9px;
    margin: -33px -2px -6px 4px;
    margin-left: 63px;
}

.navbar .dropdown span{
  font-size: 12px;
  margin-left: -51px;
}
.navbar .dropdown .Name{
    margin: -51px;
    margin-left: -51px;
    display: block;
    font-family: source;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
.navbar .btn_login {
	background: url('../images/buttons/login.png') no-repeat;
	width: 170px;
	float: left;
	text-align: center;
	text-transform: uppercase;
	font-family: source;
	font-weight: bold;
	font-size: 16px;
	color: #774d23;
}
.navbar .btn_login a {
	display: block;
	line-height: 89px;
	color: #774d23;
	text-decoration: none;
  cursor: pointer;
}
.navbar .btn_login:hover {
	background: url('../images/buttons/login_hover.png') no-repeat;
}
.logo {
	background: url('../images/logo.png') no-repeat;
	width: 354px;
	height: 491px;
	margin: 197px auto 0px;
	-webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
	-webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 2;
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
.download {
	width: 410px;
	margin: 0px auto 0px;
}
.download .btn {
	background: url('../images/buttons/download.png') no-repeat, url('../images/buttons/download_hover.png') no-repeat;
	width: 410px;
	height: 149px;
	margin: 14px auto 0px;
}
.download .btn a {
	display: block;
	height: 149px;
}
.download .btn:hover {
	background: url('../images/buttons/download_hover.png') no-repeat;
}
.download p {
	font-family: source;
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	margin: -15px 0px 0px 0px;
}
.slide {
	width: 798px;
	height: 384px;
	float: left;
	margin: 50px 0px 0px 0px;
}
.alert {
	width: 382px;
	float: left;
	margin: 50px 0px 0px 0px;
}
.alert .box {
	width: 100%;
	background: url('../images/model_box_alert.png') no-repeat;
	height: 190px;
	margin: 0px;
}
.alert .box:last-child {
	margin: 4px 0px 0px 0px;
}
.alert .box a {
	text-decoration: none;
}
.alert .box p {
	color: #edd657;
	font-family: source;
	font-size: 18px;
	margin: 25px 0px 0px 70px;
	width: 128px;
}
.alert .box p .icon-gc {
	background: url('../images/icons/gc.png') no-repeat;
	width: 28px;
	height: 27px;
	float: right;
	position: relative;
	top: -3px;
}
.alert .box h1 {
	color: #edebe9;
	font-family: source;
	font-size: 22px;
	margin: 10px 0px 0px 70px;
	font-weight: 700;
	width: 250px;
}
.news {
	width: 100%;
	margin: 0px;
}
.news h2 {
	font-family: source;
	color: #756456;
	font-size: 34px;
	margin: 50px 20px;
	float: left;
}
.news .btn {
	float: right;
	background: url('../images/buttons/all_news.png') no-repeat, url('../images/buttons/all_news_hover.png') no-repeat;
	width: 156px;
	height: 81px;
	margin: 35px 0px 0px 0px;
}
.news .btn a {
	display: block;
	height: 81px;
}
.news .btn:hover {
	background: url('../images/buttons/all_news_hover.png') no-repeat;
}
.news .box {
	width: 388px;
	height: 386px;
	display: inline-block;
	margin: 0px;
}
.news .box a {
	text-decoration: none;
}
.news .box span {
	color: #ffc331;
	font-family: source;
	font-size: 16px;
	margin: 265px 0px 0px 45px;
	display: block;
}
.news .box p {
	color: #ffffff;
	font-family: source;
	font-size: 18px;
	margin: 10px 0px 0px 45px;
}
.news .amy {
	background: url('../images/news/amy.png') no-repeat;
}
.news .ronan {
	background: url('../images/news/ronan.png') no-repeat;
}
.news .lass {
	background: url('../images/news/lass.png') no-repeat;
}
.trailer {
	background: url('../images/trailer.png') top center no-repeat;
	width: 100%;
	height: 784px;
	margin: 20px 0px 0px 0px;
}
.trailer .play {
	background: url('../images/buttons/play.png') no-repeat, url('../images/buttons/play_hover.png');
	width: 302px;
	height: 302px;
	margin: 420px auto 0px;
	cursor: pointer;
}
.trailer .play:hover {
	background: url('../images/buttons/play_hover.png');
}
.trailer p {
	color: #80734c;
	font-family: source;
	font-size: 16px;
	text-align: center;
	position: relative;
	top: -70px;
}
.page-title {
	background: url('../images/title-page.png') 0 0 no-repeat;
	width: 1185px;
	height: 125px;
	margin: 50px 0px 0px 0px;
	overflow: hidden;
}
.page-title h1 {
	font-weight: normal;
	font-family: source;
	font-size: 30px;
	color: #fff;
	margin: 28px 0px 0px 68px;
	padding: 0px 0px 0px 0px;
}
.page-container {
	width: 1175px;
	background-color: #fff;
	margin: 0px auto 0px;
	
}

.page-container.amy-bg {
	background: url('../images/amy-bg.png') 0 0 no-repeat, #fff;
	height: 736px;
	margin: 0px auto 150px;
}
.page-container h1 {
	color: #3b3739;
	font-size: 24px;
	font-family: source;
	font-weight: normal;
}
.page-container form input::-webkit-input-placeholder{color: #1c2337;}
.page-container form input::-moz-placeholder{color: #1c2337;}
.page-container form input::-moz-placeholder{color: #1c2337;}
.page-container form input::-ms-input-placeholder{color: #1c2337;}
.page-container form input::-ms-input-placeholder{color: #1c2337;}

.page-container form .input-full {
	width: 850px;
	line-height: 71px;
	background-color: #f8f8f9;
	border-radius: 10px;
	border: 1px solid #6526d3;
	margin: 10px auto 10px;
	display: block;
	text-align: center;
	font-family: source;
	font-size: 24px;
	color: #1c2337;
	outline: none;
}
.page-container form .input-serial {
	width: 100px;
	line-height: 71px;
	background-color: #f8f8f9;
	border-radius: 10px;
	border: 1px solid #6526d3;
	margin: 10px auto 10px;
	display: inline-block;
	text-align: center;
	font-family: source;
	font-size: 24px;
	color: #1c2337;
	outline: none;
}
.page-container form .select-full {
	width: 856px;
	height: 71px;
	background-color: #f8f8f9;
	border-radius: 10px;
	border: 1px solid #6526d3;
	margin: 10px auto 10px;
	display: block;
	text-align: center;
	font-family: source;
	font-size: 24px;
	color: #1c2337;
	outline: none;
	text-align-last:center;
}
.page-container form .select-large {
	width: 414px;
	height: 75px;
	background-color: #f8f8f9;
	border-radius: 10px;
	border: 1px solid #6526d3;
	margin: 10px 0px 10px;
	font-family: source;
	font-size: 24px;
	color: #1c2337;
	outline: none;
	padding-left: 20px;
}
.page-container form .input-large {
	width: 394px;
	line-height: 71px;
	background-color: #f8f8f9;
	border-radius: 10px;
	border: 1px solid #6526d3;
	margin: 10px 0px 10px;
	font-family: source;
	font-size: 24px;
	color: #1c2337;
	outline: none;
	padding-left: 20px;
}
.page-container form .checked-register input[type='checkbox'] {
	display: none;
}
.page-container form .checked-register .label {
	font-family: source;
	font-size: 16px;
	color: #1c2337;
	margin: 60px 0px 60px 160px;
	float: left;
	padding: 0px 0px 0px 10px;
}
.page-container form .checked-register .span a {
	color: #f11016;
	text-decoration: none;
}
.page-container form .checked-register input[type='checkbox'] + .span:before,
.page-container form .checked-register input[type='radio'] + .span:before {
	background-color: transparent;
    border: 1px solid #6526d3;
	content: '\00a0';
	display: inline-block;
	height: 31px;
	margin: 0;
	padding: 0;
	vertical-align: top;
	width: 33px;
	margin: -7px 0px 0px;
	border-radius: 5px;
	position: relative;
	right: 10px;
	border-radius: 10px;
}
.page-container form .checked-register input[type='checkbox']:checked + .span:before,
.page-container form .checked-register input[type='radio']:checked + .span:before {
	background-color: transparent;
	color: #2fb415;
	content: '\2713';
	text-align: center;
	font-size: 22px;
	font-family: arial;
}
.page-container .separator {
	width: 850px;
	height: 1px;
	margin: 0px auto;
	background: rgba(7,9,15, 0.17);
}
.page-container form .btn-confirm {
	background: url('../images/confirmar.png') 0 0 no-repeat;
	width: 381px;
	height: 162px;
	margin: 20px auto 150px;
	cursor: pointer;
	border: none;
	outline: none;
	display: block;
}
.page-container form .btn-confirm:hover {
	background-position-x: -381px;
}
.page-container .desc-download {
	float: left;
	margin: 35px 30px 40px 68px;
}
.page-container .desc-download span {
	color: #919496;
	font-size: 14px;
	font-family: source;
}
.page-container .desc-download p {
	color: #3b3739;
	font-size: 24px;
	font-family: source;
	margin: 0px;
}
.page-container .desc-download p b {
	font-size: 36px;
	line-height: 30px;
}

.page-container .desc-patchnotes {
	float: left;
	margin: 35px 30px 40px 13px;
}
.page-container .desc-patchnotes span {
    color: #3b3739;
    font-size: 15px;
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
    margin: -15px 94px 0px 0px;
}
.page-container .desc-patchnotes p {
	color: #3b3739;
	font-size: 22px;
	font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
}
.page-container .desc-patchnotes p b {
	line-height: 30px;
}

.page-container .btn-torrent {
	background: url('../images/downloads/torrent.png') 0 0 no-repeat;
	width: 185px;
	float: left;
	margin: 15px 0px 0px 10px;
}
.page-container .btn-torrent a {
	display: block;
	height: 154px;
}
.page-container .btn-torrent:hover {
	background-position-x: -185px;
}
.page-container .btn-mega {
	background: url('../images/downloads/mega.png') 0 0 no-repeat;
	width: 185px;
	float: left;
	margin: 15px 0px 0px 10px;
}
.page-container .btn-mega a {
	display: block;
	height: 154px;
}
.page-container .btn-mega:hover {
	background-position-x: -185px;
}
.page-container .btn-media {
	background: url('../images/downloads/media.png') 0 0 no-repeat;
	width: 185px;
	float: left;
	margin: 15px 0px 0px 10px;
}
.page-container .btn-media a {
	display: block;
	height: 154px;
}
.page-container .btn-media:hover {
	background-position-x: -185px;
}
.page-container .btn-google {
	background: url('../images/downloads/google.png') 0 0 no-repeat;
	width: 185px;
	float: left;
	margin: 15px 0px 0px 10px;
}
.page-container .btn-google a {
	display: block;
	height: 154px;
}
.page-container .btn-google:hover {
	background-position-x: -185px;
}
.page-container .other-downloads {
	background: url('../images/footer.png') repeat;
	width: 100%;
	margin: 30px 0px;
	overflow: hidden;
}
.page-container .other-downloads h1 {
	text-align: center;
	color: #fefefe;
	font-family: source;
	font-size: 36px;
	margin: 50px 0px 0px 0px;
}
.page-container .other-downloads p {
	text-align: center;
	color: #dcb7f9;
	font-family: source;
	font-size: 16px;
	margin: 0px 0px 0px 0px;
}
.page-container .other-downloads .box {
	width: 503px;
	line-height: 93px;
	border-radius: 5px;
	background-color: #460497;
	margin: 50px 41px;
	border: 1px solid #811efc;
	float: left;
}
.page-container .other-downloads .box span {
	font-family: source;
	font-size: 24px;
	color: #fbfbfb;
	padding: 0px 0px 0px 25px;
}
.page-container .other-downloads .box .btn {
	width: 156px;
	background: url('../images/btn-baixar.png') 0 0 no-repeat;
	float: right;
	margin: 10px 20px 0px 0px;
}
.page-container .other-downloads .box .btn a {
	display: block;
	height: 75px;
}
.page-container .other-downloads .box .btn:hover {
	background-position-x: -156px;
}
.page-container .table-info {
	width: 100%;
	border-radius: 5px;
	border: 1px solid #811efc;
	border-collapse: separate;
    border-spacing: 0px;
	font-family: source;
}
.page-container .table-info thead {
	background-color: #460497;
}
.page-container .table-info thead tr {
	line-height: 77px;
	font-size: 16px;
	color: #fbfbfb;
}
.page-container .table-info thead tr th {
	text-align: left;
	padding-left: 80px;
}
.page-container .table-info thead tr th:nth-child(1) {
	border-radius: 5px 0px 0px 0px;
}
.page-container .table-info thead tr th:last-child {
	border-radius: 0px 5px 0px 0px;
}
.page-container .table-info tbody tr {
	line-height: 77px;
	color: #555657;
	font-size: 16px;
}
.page-container .table-info tbody tr td {
	padding-left: 80px;
}
.page-container .table-info tbody tr td:nth-child(1) {
	font-weight: 700;
}
.page-container .table-info tbody tr:nth-child(odd) {
  background: #fdfeff;
}

.page-container .table-info tbody tr:nth-child(even) {
  background: #ebebeb;
}
.page-container .facebook {
	background: url('../images/facebook.png') 0 0 no-repeat;
	width: 545px;
	margin: 0px 0px 200px 45px;
	float: left;
	position: relative;
}
.page-container .facebook a {
	display: block;
	height: 211px;
}
.page-container .facebook:hover {
	background-position-x: -545px;
}
.page-container .discord {
	background: url('../images/discord.png') 0 0 no-repeat;
	width: 545px;
	margin: 0px 0px 200px 8px;
	float: left;
	position: relative;
	right: 12px;
	position: relative;
	top: -37px;
}
.page-container .discord a {
	display: block;
	height: 248px;
}
.page-container .discord:hover {
	background-position-x: -545px;
}
.page-container .rankings {
	width: 1028px;
	margin: 0px auto;
}
.page-container .rankings .select-ranking {
	width: 276px;
	height: 50px;
	border: 1px solid #6526d3;
	border-radius: 10px;
	padding-left: 20px;
	color: #3b3739;
	font-family: source;
	font-size: 16px;
	outline: none;
	margin: 35px 0px 0px 0px;
}
.page-container .rankings .button-ranking {
	/*width: 276px;*/
	height: 50px;
	border: 1px solid #6526d3;
	border-radius: 10px;
	padding: 0 15px 0 15px;
	color: #3b3739;
	font-family: source;
	font-size: 16px;
	outline: none;
	margin: 35px 0px 0px 0px;
	cursor: pointer;
}
.page-container .rankings .table-ranking {
	width: 100%;
	border-spacing: 0px 1rem;
    border-collapse: separate;
	font-family: source;
	margin: 20px 0px 0px 0px;
}
.page-container .rankings .table-ranking thead {
	background-color: #460497;
	line-height: 58px;
}
.page-container .rankings .table-ranking thead th {
	border-top: 1px solid #811efc;
	border-bottom: 1px solid #811efc;
}
.page-container .rankings .table-ranking thead th {
    font-size: 16px;
    color: #fbfbfb;
	text-align: left;
	padding-left: 30px;
}
.page-container .rankings .table-ranking thead th:nth-child(1) {
	border-radius: 10px 0px 0px 10px;
	border-left: 1px solid #811efc;
}
.page-container .rankings .table-ranking thead th:last-child {
	border-radius: 0px 10px 10px 0px;
	border-right: 1px solid #811efc;
}
.page-container .rankings .table-ranking tbody {
	line-height: 58px;
}
.page-container .rankings .table-ranking tbody tr {
}
.page-container .rankings .table-ranking tbody td {
	font-size: 16px;
    color: #3b3739;
	padding-left: 30px;
	border-top: 1px solid #811efc;
	border-bottom: 1px solid #811efc;
	font-weight: bold;
}
.page-container .rankings .table-ranking tbody td:nth-child(1) {
	border-radius: 10px 0px 0px 10px;
	border-left: 1px solid #811efc;
}
.page-container .rankings .table-ranking tbody td:last-child {
	border-radius: 0px 10px 10px 0px;
	border-right: 1px solid #811efc;
}
.page-container .rankings .table-ranking .tooltip img {
	cursor: pointer;
}
.page-container .rankings .table-ranking .tooltip {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 40px;
	cursor: pointer;
}
.page-container .rankings .table-ranking .tooltip .desc {
	display: none;
}
.page-container .rankings .table-ranking .tooltip:hover .desc {
	display: block;
	position: absolute;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	padding: 5px 15px;
	background-color: rgba(0,0,0,0.8);
	border: 1px solid #000;
	border-radius: 10px;
	line-height: 20px;
	color: #fff;
	margin-left: 6px;
}
.page-container .rankings .table-ranking .tooltip:hover .desc:after {
	content: '';
    display: block;  
    position: absolute;
    left: 36%;
    bottom: 100%;
    width: 0;
    height: 0;
    border-bottom: 10px solid black;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.page-container .donate {
	margin: 20px 0px 0px 64px;
	width: 705px;
	display: none;
}
.page-container .btn-donate {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.page-container .btn-donate li {
	float: left;
	background: url('../images/button-opt-donate.png') 0 0 no-repeat;
	width: 141px;
	height: 42px;
	margin: 72px 0px 0px 11px;
	font-family: source;
	color: #fffefc;
	font-size: 15px;
	text-align: center;
	cursor: pointer;
	padding: 10px 0px 0px 0px;
}
.page-container .btn-donate li.active {
	background-position-x: -141px;
}
.page-container .donate button .box {
	width: 146px;
	height: 124px;
	background: url('../images/box-donate.png') 0 0 no-repeat;
	float: left;
	cursor: pointer;
	margin: 15px;
}
.page-container .donate button {
	border: none;
	margin: 0px;
	padding: 0px;
	background: transparent;
    display: inline-block;
    float: left;
	outline: none;
}
.page-container .donate .subtitle {
	display: block;
	color: #cd5514;
	font-size: 14px;
	text-align: center;
	font-family: source;
	font-weight: bold;
	margin: 40px 0px 0px 0px;
}
.page-container .donate .title {
	margin: 0px;
	color: #3f300b;
	font-size: 26px;
	text-align: center;
	font-family: source;
	font-weight: bold;
	line-height: 30px;
}
.page-container .donate button .box:hover {
	background-position-x: -146px;
}
.page-container .navbar-panel {
	width: 1107px;
	line-height: 84px;
	border: 1px solid #811efc;
	background-color: #460497;
	border-radius: 10px;
	margin: 50px auto 0px;
}
.page-container .navbar-panel ul {
	display: block;
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.page-container .navbar-panel ul li {
	display: inline-block;
	font-family: source;
	font-size: 18px;
	color: #fbfbfb;
	margin: 0px 60px;
}
.page-container .navbar-panel ul li a {
	text-decoration: none;
	color: #fbfbfb;
}
.page-container .navbar-panel ul li a:hover {
	color: #dcb7f9;
}
.page-container .info {
	width: 995px;
	margin: 0px auto 90px;
	overflow: hidden;
}
.page-container .list-info {
	width: 400px;
	line-height: 62px;
	border-radius: 10px;
	display: inline-block;
	border: 1px solid #811efc;
	color: #3b3739;
	font-size: 18px;
	padding-left: 40px;
	font-family: source;
	margin: 10px 23px;
}
.page-container .btn_center {
	background: url('../images/buttons/login.png') no-repeat;
	width: 170px;
	margin: 0px auto;
	text-align: center;
	text-transform: uppercase;
	font-family: source;
	font-weight: bold;
	font-size: 16px;
	color: #774d23;
	cursor: pointer;
}
.page-container .btn_center a {
	display: block;
	line-height: 89px;
	color: #774d23;
	text-decoration: none;
}
.page-container .btn_center:hover {
	background: url('../images/buttons/login_hover.png') no-repeat;
}
.page-container .character {
	width: 478px;
	height: 199px;
	margin: 10px 0px 0px 15px;
	float: left;
}
.page-container .character .level {
	float: left;
	color: #ffffff;
	font-size: 24px;
	font-family: source;
	margin: 27px 0px 0px 254px;
}
.page-container .character .name {
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	font-family: source;
	margin: 27px 0px 10px 256px;
}
.page-container .character .other {
	color: #ffffff;
	font-size: 16px;
	font-family: source;
	margin: 2px 0px 0px 256px;
}


.page-container .character.elesis {
	background: url('../images/characteres/elesis1.png') no-repeat;
}
.page-container .character.lire {
	background: url('../images/characteres/lire1.png') no-repeat;
}
.page-container .character.arme {
	background: url('../images/characteres/arme1.png') no-repeat;
}
.page-container .character.lass {
	background: url('../images/characteres/lass1.png') no-repeat;
}
.page-container .character.ryan {
	background: url('../images/characteres/ryan1.png') no-repeat;
}
.page-container .character.ronan {
	background: url('../images/characteres/ronan1.png') no-repeat;
}
.page-container .character.amy {
	background: url('../images/characteres/amy1.png') no-repeat;
}
.page-container .character.jin {
	background: url('../images/characteres/jin1.png') no-repeat;
}
.page-container .character.sieghart {
	background: url('../images/characteres/sieghart1.png') no-repeat;
}
.page-container .character.mari {
	background: url('../images/characteres/mari1.png') no-repeat;
}
.page-container .character.dio {
  background: url('../images/characteres/dio1.png') no-repeat;
}
.page-container .character.zero {
  background: url('../images/characteres/zero1.png') no-repeat;
}
.page-container .character.ley {
  background: url('../images/characteres/rey1.png') no-repeat;
}
.page-container .character.rufus {
  background: url('../images/characteres/lupus1.png') no-repeat;
}
.page-container .character.rin {
  background: url('../images/characteres/lin1.png') no-repeat;
}
.page-container .character.asin {
  background: url('../images/characteres/azin1.png') no-repeat;
}
.page-container .character.lime {
  background: url('../images/characteres/holy1.png') no-repeat;
}
.page-container .character.edel {
  background: url('../images/characteres/edel1.png') no-repeat;
}
.page-container .character.veigas {
  background: url('../images/characteres/veigas.png') no-repeat;
}
.page-container .character.uno {
  background: url('../images/characteres/uno.png') no-repeat;
}
.page-container .character.elesis .class {
	color: #ff8888;
	font-size: 15px;
	font-family: source;
	font-weight: bold;
	float: left;
	margin: 33px 0px 0px 20px;
}
.page-container .character.lire .class {
	color: #93ff88;
	font-size: 15px;
	font-family: source;
	font-weight: bold;
	float: left;
	margin: 33px 0px 0px 20px;
}
.page-container .character.arme .class {
	color: #f388ff;
	font-size: 15px;
	font-family: source;
	font-weight: bold;
	float: left;
	margin: 33px 0px 0px 20px;
}
.page-container .character.lass .class {
	color: #88ceff;
	font-size: 15px;
	font-family: source;
	font-weight: bold;
	float: left;
	margin: 33px 0px 0px 20px;
}
.page-container .character.ryan .class {
	color: #ffb588;
	font-size: 15px;
	font-family: source;
	font-weight: bold;
	float: left;
	margin: 33px 0px 0px 20px;
}
.page-container .character.ronan .class {
	color: #88a7ff;
	font-size: 15px;
	font-family: source;
	font-weight: bold;
	float: left;
	margin: 33px 0px 0px 20px;
}
.page-container .character.amy .class {
	color: #ff88d4;
	font-size: 15px;
	font-family: source;
	font-weight: bold;
	float: left;
	margin: 33px 0px 0px 20px;
}
.page-container .character.jin .class {
	color: #ff8888;
	font-size: 15px;
	font-family: source;
	font-weight: bold;
	float: left;
	margin: 33px 0px 0px 20px;
}
.page-container .character.sieghart .class {
	color: #ff88fb;
	font-size: 15px;
	font-family: source;
	font-weight: bold;
	float: left;
	margin: 33px 0px 0px 20px;
}
.page-container .character.mari .class {
	color: #88c0ff;
	font-size: 15px;
	font-family: source;
	font-weight: bold;
	float: left;
	margin: 33px 0px 0px 20px;
}
.page-container .character.dio .class {
  color: #ffaaaa;
  font-size: 15px;
  font-family: source;
  font-weight: bold;
  float: left;
  margin: 33px 0px 0px 20px;
}

.page-container .character.zero .class {
  color: #b9ffd3;
  font-size: 15px;
  font-family: source;
  font-weight: bold;
  float: left;
  margin: 33px 0px 0px 20px;
}
.page-container .character.ley .class {
  color: #e8a9fd;
  font-size: 15px;
  font-family: source;
  font-weight: bold;
  float: left;
  margin: 33px 0px 0px 20px;
}
.page-container .character.rufus .class {
  color: #ffa392;
  font-size: 15px;
  font-family: source;
  font-weight: bold;
  float: left;
  margin: 33px 0px 0px 20px;
}
.page-container .character.rin .class {
  color: #12d0c6;
  font-size: 15px;
  font-family: source;
  font-weight: bold;
  float: left;
  margin: 33px 0px 0px 20px;
}
.page-container .character.asin .class {
  color: #88c0ff;
  font-size: 15px;
  font-family: source;
  font-weight: bold;
  float: left;
  margin: 33px 0px 0px 20px;
}
.page-container .character.lime .class {
  color: #d9fbae;
  font-size: 15px;
  font-family: source;
  font-weight: bold;
  float: left;
  margin: 33px 0px 0px 20px;
}
.page-container .character.edel .class {
  color: #b0a5e8;
  font-size: 15px;
  font-family: source;
  font-weight: bold;
  float: left;
  margin: 33px 0px 0px 20px;
}
.page-container .character.veigas .class {
  color: #e467ff;
  font-size: 15px;
  font-family: source;
  font-weight: bold;
  float: left;
  margin: 33px 0px 0px 20px;
}
.page-container .character.uno .class {
  color: #88c0ff;
  font-size: 15px;
  font-family: source;
  font-weight: bold;
  float: left;
  margin: 33px 0px 0px 20px;
}
.footer {
	background: url('../images/footer.png') repeat;
	width: 100%;
	height: 710px;
	overflow: hidden;
}
.footer .box-footer {
	margin: 100px 0px 0px 0px;
	padding: 0px;
}
.footer .box-footer li {
	float: left;
	padding: 0px 80px;
	list-style: none;
}
.footer .box-footer li h1 {
	font-weight: normal;
	padding: 23px 0px;
	margin: 0px;
	font-family: source;
	color: #ffffff;
	font-size: 30px;
}
.footer .box-footer li p {
	display: block;
	padding: 7px 0px 7px 0px;
	margin: 0px 0px 0px 1px;
	font-family: source;
	color: #ccc;
	font-size: 18px;
}
.footer .box-footer li p a {
	color: #dcb7f9;
	text-decoration: none;
}
.footer .box-footer li p a:hover {
	color: #c49be4;
	text-decoration: underline;
}
.footer .separator {
	width: 100%;
	background-color: #7c23e8;
	height: 1px;
	margin: 80px 0px 50px;
}
.footer .logo-footer {
	background: url('../images/logo-footer.png') no-repeat;
	width: 256px;
	height: 144px;
	margin: 30px 0px 30px 70px;
	float: left;
}
.footer .text-footer {
	float: left;
	margin: 30px 0px 0px 60px;
	width: 750px;
}
.footer .text-footer span {
	padding: 0px 25px 0px 25px;
	margin: 0px 0px 0px 1px;
	font-family: source;
	color: #c08cff;
	font-size: 18px;
	border-right: 1px solid #c08cff;
}
.footer .text-footer span a {
	color: #c08cff;
	text-decoration: none;
}
.footer .text-footer span a:hover {
	text-decoration: underline;
}
.footer .text-footer span:nth-child(2) {
	border-right: none;
}
.footer .text-footer p {
	display: block;
	margin: 20px 0px 0px 27px;
	font-family: source;
	color: #dcb7f9;
	font-size: 16px;
	line-height: 22px;
}
.dialog-success {
	background-color: #d2fbcc;
	border-radius: 10px;
	border: 1px solid #b0dba9;
	padding: 20px 30px;
	font-size: 18px;
	color: #3b3739;
	font-family: source;
}