<!-- Header -->
<?php require_once(__DIR__ . "/../Header.html");?>

<div class="container">
	<div class="page-title">
		<h1>Downloads</h1>
	</div>
	<div class="page-container">
		<!--Down Full Game-->
		<div class="desc-download">
			<p><?=TITLE?> Installer<br></p>
			<span>Choose the best download mirror</span>
			<br>
			<p>Game Size:<br><b><?=DOWNLOAD_SIZE?></b></p>
		</div>
		<div class="btn-google"><a target="_blank"href="https://drive.google.com/file/d/1hsdsaR4am5VFPIy3zlzaUZ8U2H8M73Xn/view?usp=sharing""></a></div>
		<div class="btn-media"><a target="_blank"href="https://www.mediafire.com/file/gc9v6pxe2oqp0nq/Chase_Lite_Setup.zip/file"></a></div>
		<div class="btn-mega"><a target="_blank"href="https://mega.nz/file/UZJTkSwR#-P-ZIENtPHUGeR_srFujezfMxQLgKQ_jimjkO6MqPiI"></a></div>
		<div class="clear"></div>
		<br>
		<div class="separator" style="width: 1057px;"></div>
		<div class="desc-download">
			<p><?=TITLE?> Launcher<br></p>
			<span>Manual Launcher Download</span><br>
			<span>(Not Necessary)</span><br>
			<span>-For repair purposes only-</span>
		</div>
		<div class="btn-google"><a target="_blank"href="https://drive.google.com/file/d/1zdsiBC-2FjFpewObmc5HCKG1Izzni6WU/view?usp=sharing"></a></div>
		<div class="btn-media"><a target="_blank"href="https://www.mediafire.com/file/ntzk1o4ns0f2z3c/Chase_Lite.exe/file"></a></div>
		<div class="btn-mega"><a target="_blank"href="https://mega.nz/file/ZMIVDI5Q#BFuJTlhtbjTduI4OJRwB8xHoAfnMBln4P8SYPf1C1DM"></a></div>
		<div class="clear"></div>
		<br>
		<div class="separator" style="width: 1057px;"></div>
		<!--Down dlls-->
		<div class="other-downloads">
			<h1>Miscellaneous Downloads</h1>
			<p>Experiencing FPS issues? Download a DLL from the link below and paste it into your game folder after renaming it to d3d9.dll. <br>If the one you downloaded doesn't solve your issues, try another.</p><br><br><p> We also offer Chase Lite in RAR format, for those who wish to perform a manual installation.</p>
			<div class="box">
				<span>All DirectX DLL's</span>
				<div class="btn"><a href="https://drive.google.com/drive/folders/1Zom6yJf5N1FEQJvtsXhupHI9WZrFsL2N"></a></div>
			</div>
			<div class="box">
				<span>Manual Install (Unavailable)</span>
				<div class="btn"><a href="#"></a></div>
			</div>
		</div>
		<br>
		<h1 style="font-size: 36px; text-align: center; font-weight: bold;">System Requirements</h1>
		<table class="table-info" style="width: 1060px; margin: 0px auto;">
			<thead>
				<tr>
					<th>Component</th>
					<th>Minimum</th>
					<th>Recommended</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Operating System</td>
					<td>Windows XP</td>
					<td>Windows 7 or newer</td>
				</tr>
				<tr>
					<td>Processor</td>
					<td>Intel/AMD 2 GHz or better</td>
					<td>Intel Core i3 or better</td>
				</tr>
				<tr>
					<td>RAM</td>
					<td>2 GB</td>
					<td>4 GB or higher</td>
				</tr>
				<tr>
					<td>Video Card</td>
					<td>NVIDIA GeForce 7 Series or equivalent</td>
					<td>NVIDIA GeForce 8 Series or better</td>
				</tr>
				<tr>
					<td>DirectX Version</td>
					<td colspan="2" style="text-align: center; padding: 0px;">DirectX 9 or newer</td>
				</tr>
				<tr>
					<td>Disk Space</td>
					<td colspan="2" style="text-align: center; padding: 0px;">7 GB of additional disk space</td>
				</tr>
				<tr>
					<td colspan="3" style="text-align: center; padding: 0px;">Internet Connection</td>
				</tr>
				<tr>
					<td colspan="3" style="text-align: center; padding: 0px;">Sound Card</td>
				</tr>
				<tr>
					<td colspan="3" style="text-align: center; padding: 0px;">Mouse and Keyboard</td>
				</tr>
			</tbody>
		</table>
		<br><br><br>
		<h1 style="text-align: center; font-size: 36px; font-weight: 700;">Make sure to join our <br>community!</h1>
		<div class="discord"><a target='_blank' href="<?=DISCORD?>"></a></div>
		<div class="facebook"><a href="<?=TELEGRAM?>"></a></div>
	</div>
</div>
<div class="clear"></div>

<!-- Footer -->
<?php require_once(__DIR__ . "/../Footer.html");?>