<?php require_once(__DIR__ . "/../Header.html");?>
<div class="container">
	<div class="page-title">
		<h1>Redeem Token</h1>
	</div>
	<div class="page-container" style="font-family: source">
		<center>
		<div class="swal2-icon swal2-success swal2-icon-show" style="display: flex;"><div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
			<span class="swal2-success-line-tip"></span> <span class="swal2-success-line-long"></span>
			<div class="swal2-success-ring"></div> <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
			<div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
		</div>
		<h2 class="swal2-title" id="swal2-title" style="display: block;">Token has been successfully claimed!</h2>
			<div class="swal2-html-container" id="swal2-html-container" style="display: block;">The items will arrive in your in-game mailbox momentarily.
			<br><br><br><br><br><br>
		</div>
		</center>
	</div>
</div>
<?php require_once(__DIR__ . "/../Footer.html");?>