<!html style="height:100%;width:100%">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="text-align:center;margin:auto;padding:auto;height:100%;width:100%;background-color:#fff">
    <div style="text-align:center;width:100%;height:134px;display:block">
        <div style="text-align:center;margin:auto;padding:auto;width:207px;height:134px">
        </div>
    </div>
    <br/>
    <span style="font-size:25pt;color:#88369f">{USERNAME},</span><br/>
    <span style="font-size:12pt;color:#0e0e0e">You have requested a password reset with Chase Lite</span><br/>
    <br/></br>
    <span style="font-size:12pt;color:#0e0e0e">
        Click on the link below to set up a new password:
    </span>
    <br/>
    <span style="font-size:12pt;color:#a0396c">{TOKEN_LINK}</span>
    <br/>
    <span style="font-size:12pt;color:#a0396c">
        If you were not the one who requested  this, please contact a Staff member immediately
    </span>
    <br/><br/>
    <span style="font-size:12pt;color:#0e0e0e">
        Chase Lite Network
    </span>
</body>
</html>